

nav {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
  height: 100px;
  background-color: palegreen;
  color: white;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
 
}

nav .logo {
  max-height: 80px;
  margin-top: 10px;
  margin-left: 10px;
}

/* donordash */

.donorDashboard{
  padding: 30px;
  width: 100%;
}

.donorDashboard .donationContainer{
  height: 80vh;
  overflow: scroll;
}

.donorPreview{
  display: flex;
  width: 95%;
  border: dotted 1px;
}

.donorPreview #link{
  display: flex;
  width: 100%;
  background-color: orange;
  margin: 10px;
  padding: 30px;
  width: 1100%;
  align-items: center;
  justify-content: space-between;

}

.donorPreview .nameDisplay{

}